/* /*UNIVERSAL */
* {
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: #8b95c9;
}

.text {
    color: #8b95c9;
}

#text {
    color: #8b95c9;
    text-align: center;
}

/* HEADER */

#header-cont {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}
#header {
    
    margin-top: 10px;
}

#hello-cont{
border: 3px solid ;
border-radius: 5px;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
}

#hello {
/* text-align: right; */
margin: 5px;
color: #8b95c9;


/* animation properties */
-moz-transform: translateX(-100%);
-webkit-transform: translateX(-100%);
transform: translateX(-100%);

-moz-animation: my-animation 15s linear infinite;
-webkit-animation: my-animation 15s linear infinite;
animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateX(-100%); }
to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateX(-100%); }
to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
from {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
to {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
}

/* NAVBAR */


a.nav-link {
    color: #8b95c9;
   
}

.nav-link.active {
    background-color: #ebf5ee;
}

a.nav-link.active:hover,
a.nav-link:hover {
    color: #f6ae2d;
    
}

/* #about {
    text-align: center;
    margin: 10px;
} */


/* #img-container {
    display: flex;
    justify-content: center;
    align-items: center;

} */


  
  #profile {
    height: 550px;
    width: 400px;
    border-radius: 150px;
    border-color: #63e2c6;
  }

button.btn.btn-danger {
    background-color: #63e2c6;
    border: #63e2c6
}

#resume {
    text-align: center;
    margin: 10px;
}

#resume-img {
    margin: 10px;
    width: 500px;
    height: 300px;
}

#resume-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#proj-cont {
    display: block;
}
#proj-img {
    height: 400px;
    width: 700px;
    /* justify-content: center;
    align-items: center; */

}
#front {
    margin: 10px;
}

#back {
    margin: 10px 
}


/* #footer, 
#love,
#cont
 {
   
} */



.project-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
}

.submitBtn {
    background-color: white;
}

#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #bio {
    text-align: center;
}

/* Text Container */
.text-container {
    text-align: center;
    max-width: 600px; /* Adjust max-width as needed */
    
    margin-bottom: 20px; /* Adjust margin as needed */
  }
  
  /* Image Container */
  #img-container {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }